<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сервис генерации описания товаров</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Наши CSS стили -->
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <!-- Навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">💿 Сервис генерации описания товаров</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" onclick="btnGoToMainPage()">🏠 Главная</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
                            📦 Категории
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="btnGoToPhoneFormClick()">📱 Смартфоны</a></li>
                            <li><a class="dropdown-item active" onclick="btnGoToLaptopFormClick()">💻 Ноутбуки</a></li>
                            <li><a class="dropdown-item" onclick="btnGoToTvFormClick()">📺 Телевизоры</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" onclick="btnGoToHistoryPage()">📝 История запросов</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Основной контент -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-14 col-lg-8">
                <!-- Карточка формы -->
                <div class="form-card">
                    <h2 class="main-title">
                        Введите характеристки для генерации описания Ноутбука
                    </h2>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label">Бренд</label>
                                <input id="laptopBrand" class="form-control" placeholder="Apple, Samsung" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Модель</label>
                                <input id="laptopModel" class="form-control" placeholder="Mac Air, Pro" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Диагональ (дюймы)</label>
                                <input id="laptopScreen_size" class="form-control" placeholder="15.6" type="number"
                                    step="0.1" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Тип матрицы</label>
                                <input id="laptopDisplay_type" class="form-control" placeholder="OLED" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Частота обновления (Гц)</label>
                                <input id="laptopScreen_refresh" class="form-control" placeholder="240" type="number" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Разрешение экрана</label>
                                <input id="laptopScreen_resolution" class="form-control" placeholder="Full HD, 4K" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Материал корпуса</label>
                                <input id="laptopMaterial" class="form-control" placeholder="Алюминий" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Вес (Кг)</label>
                                <input id="laptopWeight" class="form-control" placeholder="1" type="number" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label">Процессор CPU</label>
                                <input id="laptopProcessor" class="form-control" placeholder="AMD Ryzen (3/5/7/9)" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Оперативная память RAM (Гб)</label>
                                <input id="laptopRAM" class="form-control" placeholder="16" type="number" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Накопитель SSD (Гб)</label>
                                <input id="laptopSSD" class="form-control" placeholder="256" type="number" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Видеокарта</label>
                                <input id="laptopGraphics_card" class="form-control"
                                    placeholder="NVIDIA GeForce RTX 3050/4060/4090" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Видеопамять VRAM (Гб)</label>
                                <input id="laptopVRAM" class="form-control" placeholder="8" type="number" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Ёмкость батареи (Вт/ч)</label>
                                <input id="laptopBattery" class="form-control" placeholder="72.4" type="number"
                                    step="0.1" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Блок питания (Вт)</label>
                                <input id="laptopPower_adapter" class="form-control" placeholder="230" type="number" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Предустановленная ОС</label>
                                <input id="laptopOS" class="form-control" placeholder="Windows 11, macOS, Linux" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div id="generateLaptopBtn" class="generate-btn" onclick="btnLaptopGenerateClick()">
                                Сгенерировать
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <!-- Наш JavaScript -->
    <script src="/static/script.js"></script>
</body>

</html>